@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=M+PLUS+Rounded+1c&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Square+Peg&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 5em;
}

img {
  cursor: pointer;
  margin: 0 6em 0 0;
}

div > div:nth-of-type(2) > ul {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

div > div:nth-of-type(2) > ul > li {
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}

.courses {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.courses-icon {
  transform: rotate(90deg);
  font-size: 16px;
}

div > div:nth-of-type(3) > button:nth-of-type(1) {
  font-size: 14px;
  padding: 12px 8px 12px 8px;
  background-color: rgb(229, 254, 255);
  border: none;
  color: rgb(110, 113, 204);
  font-weight: 600;
  line-height: 24px;
  border-radius: 8px;
  margin: 0 1em 0 0;
}

div > div:nth-of-type(3) > button:nth-of-type(1):hover {
  background-color: #cfe9ee;
  transition: 0.3s;
  cursor: pointer;
}

div > div:nth-of-type(3) > button:nth-of-type(2) {
  font-size: 14px;
  padding: 12px 16px 12px 16px;
  background-color: white;
  border: 1px solid red;
  color: red;
  font-weight: 600;
  line-height: 24px;
  border-radius: 8px;
}

div > div:nth-of-type(3) > button:nth-of-type(2):hover {
  background-color: #fedfe5;
  transition: 0.3s;
  cursor: pointer;
}
